<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="GoogleTest">
    <classes>
      <class name="io.google.testcases.GoogleLinksTests"/>
    </classes>
  </test>
  
  <test thread-count="5" name="LinkedInTest">
    <classes>
      <class name="io.linkedin.testcases.LinkedInLoginTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
